.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

p {
  font-size: 1.8rem;
}
.shush {
  font-style: italic;
}
